* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  box-sizing: border-box;
  outline: none;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.card {
  width: 700px;
  height: 430px;
  background-color: #8dd1e0;
  border-radius: 10px;
  background-image: url(icons_hw_module_10/moon_flag.png);
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: 460px 150px;
}

.card-title {
  width: 70%;
  height: 40px;
  line-height: 40px;
  margin-left: -15px;
  margin-top: 20px;
  padding-left: 40px;
  box-sizing: content-box;
  background-color: orangered;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
}

.block {
  display: flex;
  width: 100%;
  height: calc(100% - 80px);
  margin-top: 20px;
  padding-left: 25px;
}

.form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 400px;
  height: 70%;
}

form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.field-bottom-block .field {
  width: 30%;
}

.bottom-input {
  width: 100%;
}

.field-bottom-block {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

label {
  color: #33484d;
  margin-top: 5px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  height: 40px;
  margin-top: 5px;
  background-color: #b9e4ed;
  border: 0;
  border-bottom: 1.5px solid #33484d;
  padding-left: 10px;
  padding-right: 10px;
}
