* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  box-sizing: border-box;
  outline: none;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-color: #ededed;
  padding: 25px;
}

.block {
  margin-bottom: 25px;
}

h1 {
  font-size: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
}

input[type="text"] {
  width: 300px;
  height: 40px;
  padding-left: 15px;
  padding-right: 15px;
  border: none;
  border: 1px solid #c4c4c4;
  border-radius: 2.5px;
}

input[type="text"]:nth-child(2) {
  border: 1px solid green;
}
.correct {
  background-image: url(icons_hw_module_10/valid.png);
  background-repeat: no-repeat;
  background-position: 95% center;
  background-size: 25px;
}

.correct::placeholder {
  color: green;
}

input[type="text"]:nth-child(3) {
  border: 1px solid #ff0000;
}

.incorrect {
  background-image: url(icons_hw_module_10/invalid.png);
  background-repeat: no-repeat;
  background-position: 95% center;
  background-size: 25px;
}

.incorrect::placeholder {
  color: red;
}

.checks {
  display: flex;
}

.box {
  margin-right: 20px;
}

label {
  display: flex;
  align-content: center;
}

input[type="checkbox"] {
  display: none;
}

.label-checks::before {
  display: inline-flex;
  border-radius: 4px;
  width: 32px;
  height: 16px;
  padding: 1px;
  margin-right: 5px;
}

.green::before {
  content: url(icons_hw_module_10/green-square.png);
  border: 1px solid #008000;
  justify-content: flex-start;
}

input[type="checkbox"]:checked + .green::before {
  content: url(icons_hw_module_10/red-square.png);
  border: 1px solid #ff0000;
  justify-content: flex-end;
}

.red::before {
  content: url(icons_hw_module_10/red-square.png);
  border: 1px solid #ff0000;
  justify-content: flex-end;
}

input[type="checkbox"]:checked + .red::before {
  content: url(icons_hw_module_10/green-square.png);
  border: 1px solid #008000;
  justify-content: flex-start;
}

.radio-block {
  display: flex;
}

.text,
.radio-buttons {
  margin-right: 10px;
}

.radio-buttons {
  display: flex;
}

input[type="radio"] {
  display: none;
}

.custom-radio::before {
  content: "";
  display: inline-block;
  padding: 1px;
  width: 16px;
  height: 16px;
  border-radius: 16px;
  border: 1px solid #008000;
  margin-right: 5px;
}

input[type="radio"]:checked + .custom-radio::before {
  background-image: url(/10dz/icons_hw_module_10/dry-clean.png);
  background-repeat: no-repeat;
  background-position: center;
}

input[type="submit"] {
  width: 125px;
  height: 40px;
  border: 0;
  color: #fff;
  border-radius: 5px;
  margin-right: 7px;
}

input[type="submit"]:nth-child(6),
input[type="submit"]:nth-child(7) {
  width: 40px;
  border-radius: 40px;
}

.button-green {
  background-color: green;
}

.button-red {
  background-color: red;
}

.button-green-hover {
  background-color: #003000;
}

.button-red-hover {
  background-color: #700000;
}

.button-disabled {
  background-color: #404040;
}

textarea {
  resize: none;
  width: 700px;
  height: 100px;
  padding: 10px;
  border: none;
  border: 1px solid #909090;
  border-radius: 5px;
}
