* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  box-sizing: border-box;
  outline: none;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 600px;
}

.block {
  display: flex;
  flex-direction: column;
  width: 85%;
  height: 80%;
  box-shadow: 0 0 10px 1px #000;
}

.top-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50%;
  padding: 25px 25px 0px 25px;
}

.registration,
.personal {
  width: 48%;
  height: 100%;
}

h1 {
  font-size: 25px;
  font-weight: 400;
  margin-bottom: 25px;
}

.field {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 40px;
  margin-top: 15px;
}

.img {
  width: 40px;
  height: 40px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 35px 35px;
}

.user {
  background-image: url(/10dz/icons_hw_module_10/username.png);
}

.email {
  background-image: url(/10dz/icons_hw_module_10/email.png);
}

.pass {
  background-image: url(/10dz/icons_hw_module_10/pswd.png);
}

.reg-inputs {
  width: calc(100% - 50px);
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
select {
  padding-left: 10px;
  padding-right: 10px;
  border: none;
  border-bottom: 1px solid #a0a0a0;
}

.pswrd-fields {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 50px);
}

.personal-inputs,
.pswrd-inputs {
  width: 48%;
}

.bottom-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 50%;
  padding-bottom: 25px;
}

.check-boxes,
.button-block {
  width: 100%;
  height: 50%;
}

.check-boxes {
  padding-left: 25px;
}

.check-field {
  margin-top: 15px;
}

.button-block {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  border-top: 1px solid #d1d1d1;
  padding-right: 25px;
}

input[type="submit"] {
  width: 200px;
  height: 40px;
  background-color: #23a181;
  border: none;
  border-radius: 2px;
  color: #ffffff;
  box-shadow: 0 2px 2px #000;
  cursor: pointer;
}

input[type="submit"]:hover {
  transition: 0.3s linear;
  background-color: #17614e;
  font-size: 17px;
}

@media (max-width: 900px) {
  .container {
    height: 700px;
  }

  .block {
    width: 90%;
    height: 600px;
  }
  .top-section {
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 70%;
  }

  .bottom-section {
    height: 30%;
  }

  .registration,
  .personal {
    width: 100%;
  }

  .registration {
    height: 50%;
  }

  .personal {
    height: 40%;
  }

  h1 {
    margin-bottom: 15px;
  }

  .check-boxes {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .check-field {
    margin: 0;
  }

  .check-field:nth-child(2) {
    margin-top: 5px;
  }
}

@media (max-width: 600px) {
  .block {
    width: 90%;
    height: 600px;
  }

  .top-section {
    height: 80%;
    padding: 15px 25px 0px 25px;
  }

  h1 {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .field {
    height: 30px;
    margin-top: 10px;
  }

  .img {
    height: 30px;
    width: 30px;
    background-size: 25px;
  }

  .bottom-section {
    height: 20%;
    padding-bottom: 20px;
  }

  .pswrd-fields {
    flex-direction: column;
    height: 70px;
  }

  .personal-inputs,
  .pswrd-inputs {
    width: 100%;
    height: 30px;
  }

  .personal {
    height: 48%;
  }

  .personal .field {
    flex-direction: column;
    height: 70px;
  }

  .check-boxes {
    justify-content: start;
  }

  .check-field label {
    font-size: 12px;
  }

  .check-field:nth-child(2) {
    margin-top: 3px;
  }

  input[type="submit"] {
    width: 100px;
    height: 25px;
    font-size: 14px;
  }

  input[type="submit"]:hover {
    font-size: 15px;
  }
}
